

<h1>Generate a username:</h1>
 


<%= @nouns.sample.ord.capitalize + @verbs.sample.ord.capitalize + "er" %>
<br>

<%= link_to 'Add a new word', new_word_path %>


<script>
  craft = functino(){
    
  }

</script>